body {
    background-color: #efefef;
}


.content {
    background-color: white;
    margin: 30px;
}

.btn-publish {
    float: right;
    margin-bottom: 15px;
}

/*
    未登录错误信息提示
 */
span.errorMsg {
    color: red;
}

.media-object {
    width: 39px;
    height: 39px;
}

.text-color-999 {
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

.profile .section {
    margin-top: 15px;
}